<h2>Componente principal</h2>
<a href="http://localhost:4200/first">Primero</a>
<br>
<a routerLink="second">Segundo</a>
<br>
<a routerLink="third">Tercero</a>
<br>
<a routerLink="cuarto">Cuarto</a>
<br>
<a routerLink="quinto">Quinto</a>
<br>
<a routerLink="octavo">Octavo</a>
<br>
<a routerLink="ContactoTd">ContactoTD</a>
<br>
<a routerLink="ContactoReactive">ContactoReactive</a>
<br>
<a routerLink="ConsumirImagen">ConsumirImagen</a>
<br>

<a routerLink="productlist">productlist</a>
<br>
<a routerLink="cart">Carrito</a>
<p>El titulo del proyecto es {{title}}</p>
<hr>
<app-hijo [name]="'juan'"></app-hijo>
<router-outlet></router-outlet>